<ion-content overflow-scroll="false" fullscreen="full" class="animated fadeIn">
  <ion-grid>
    <ion-row>
      <ion-col class="logo-img">
          <img src="/assets/img/bgremove.png" alt="" class="bg-img" />
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <!-- Logo -->
  <!-- <ion-grid>
      <ion-row>
        <ion-col><div class="logo-round"></div></ion-col>
        <ion-col><div class="app-title"></div></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid> -->

<!--
<ion-footer>
  <ion-button color="gold" expand="full" class="login-button" (click)="openModal()" no-margin>
    <ion-icon name="log-in"></ion-icon>
    Sign In
  </ion-button>
</ion-footer>
-->
<!-- 
<ion-footer>
   <ion-row>
      <ion-col>
          <ion-button class="login-but" expand="full" size="medium" (click)="openModal()" ><ion-icon name="log-in"></ion-icon>Log In</ion-button>
      </ion-col> -->
      <!--
      <ion-col no-padding>
          <ion-button no-margin  class="login-but" expand="full" size="large" color="success">Register</ion-button>
      </ion-col>
  
  </ion-row>
</ion-footer> -->


  
  <ion-button size="large" class="login-btn-align login-btn"  routerLink="signin" >  
 <ion-icon class="login-icon"  slot="end" ios="ios-heart" md="md-heart"></ion-icon>
 Sign in</ion-button>
</ion-content>
<ion-footer>

</ion-footer>