<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-buttons class="back-btn" slot="start">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">
          Notifications
        </ion-text>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-card-header class="card-message-header">
<ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-icon name="text" class="card-message-header-icon"></ion-icon>
      </ion-col>
      <ion-col size="9">
        <ion-card-title>Manager App</ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <h2 class="message_h2">{{ message }}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>